doctype html
html(lang="en")
  head
    title Alexey Anisimov
    link(rel="stylesheet", href="./index.css")
    link(rel="icon" href="../public/favicon.ico")
  body
    div(id="root")
    script(src="./index.tsx")
      